* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 67%;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

/* HEADER with utilities */

.row {
  margin: 0 -15px;
}

[class^="col-"] {
  float: left;
  padding: 0 15px;
}

.row:after {
  content:"";
  clear: both;
  display: table;
}

.col-100 {
  width: 100%;
}

.h-1 {
  height: 60px;
}

.h-2 {
  height: 500px;
}

.bg-white {
  background-color: #FFFFFF;
}

.logo {
  border-right: 1px solid lightgrey;
  padding-right: 15px;
}

nav, a {
  text-decoration: none;
  padding-right: 10px;
  color: #B9B9B9;
}

.mt-1 {
  margin-top: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.bg-banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.overlay {
  background: rgba(0, 0, 0, 0.19);
  height: 100%;
  border-radius: 15px;
}

.text {
  padding-top: 330px;
  padding-left: 60px;
  color: #FFFFFF;
}

.text h2 {
  font-size: 32px;
}

.text p {
  font-size: 18px;
}

/* MAIN */

main h1 {
  font-size: 40px;
  font-weight: bolder;
}

main h4 {
  font-weight: 600;
  padding: 15px 0;
}

main p {
  color: #B9B9B9;
  font-weight: 100;
}

.bg-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.first {
  background-image: url("../img/img-1.jpg");
}

.second {
  background-image: url("../img/banner-2.jpg");
}

.third {
  background-image: url("../img/img-3.jpg");
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.mb-1 {
  margin-bottom: 1em;
}


/* Footer */

footer {
  text-align: center;
}

.heart {
  color: red;
}
